PUSHI 0 
PUSHI 0 
PUSHI 0 
START
PUSHI 1
STOREG 0
READ
ATOI
STOREG 1
ciclo0:
READ
ATOI
STOREG 2
PUSHG 0
PUSHG 2
MUL 
STOREG 0
PUSHG 1
PUSHI 1
SUB
STOREG 1
PUSHG 1
PUSHI 0
EQUAL
jz ciclo0
PUSHS "O produtorio dos valores inseridos é:"
WRITES
PUSHG 0
WRITEI
STOP
